@model GetRandomQuotesDto

<section id="quotation" class="align-center pb-5 mb-5">
		<div class="inner-content">
		<h2 class="section-title divider">Okuma Yolculuğunuz İçin Bir İlham</h2>

			<blockquote data-aos="fade-up">
			<q>
				“&nbsp;@Model.Description&nbsp;”
			</q>

				<div class="author-name">@Model.WriterNameSurname</div>
			</blockquote>
		</div>
	</section>
