@model List<ResultCategoryDto>

<section id="popular-books" class="bookshelf py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>📚 Kategorilere Göre Kitap Arşivi</span>
                    </div>
                    <h2 class="section-title">Keşfet: Kitap Koleksiyonu</h2>
                </div>

                <!-- Kategori Sekmeleri -->
                <ul class="tabs">
                    <li data-tab-target="#all-genre" class="active tab">Hepsini Görüntüle</li>

                    @foreach (var item in Model)
                    {
                        <li data-tab-target="#@item.CategoryName.Replace(" ", "-").ToLower()" class="tab">@item.CategoryName</li>
                    }
                </ul>

                <!-- Kitapların Listeleneceği Alan -->
                <div class="tab-content">
                    <!-- Tüm Kitapları Göster -->
                    @await Component.InvokeAsync("_PopularBooksAllComponentPartial")

                    <!-- Kategorilere Göre Kitapları Göster -->
                    @foreach (var item in Model)
                    {
                        <div id="@item.CategoryName.Replace(" ", "-").ToLower()" data-tab-content>
                            <div class="row">
                                @await Component.InvokeAsync("_PopularBooksGetByIdComponentPartial", new { id = item.CategoryId })
                            </div>
                        </div>
                    }
                </div>

            </div><!--inner-tabs-->
        </div>
    </div>
</section>
