﻿<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Hüseyin Kurban
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#">
								<span class="link-collapse">Profilim</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="link-collapse">Şifre Değiştir</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="link-collapse">Ayarlar</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="#">
					<i class="la la-home"></i>
					<p>Dashboard</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Feature/FeatureList">
					<i class="la la-th-list"></i>
					<p>Öne Çıkan Kitaplar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Categories/CategoryList">
					<i class="la la-th-list"></i>
					<p>Kategoriler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Writer/WriterList">
					<i class="la la-user"></i>
					<p>Yazarlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="la la-book"></i>
					<p>Kitaplar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="la la-external-link"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="la la-sign-out"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
		</ul>

	</div>
</div>