
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadComponentPartial")

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">

	<div id="header-wrap">

		@await Component.InvokeAsync("_TopContentComponentPartial")

		@await Component.InvokeAsync("_HeaderComponentPartial")

	</div><!--header-wrap-->
	@await Component.InvokeAsync("_SliderFeaturedBooksComponentPartial")

	@await Component.InvokeAsync("_ClientHolderComponentPartial")
	
	@await Component.InvokeAsync("_FeaturedBooksComponentPartial")
	
	@await Component.InvokeAsync("_RandomBookComponentPartial")

	@await Component.InvokeAsync("_PopularBooksComponentPartial")

	@await Component.InvokeAsync("_QuoteComponentPartial")

	@await Component.InvokeAsync("_BooksForSaleComponentPartial")

	@await Component.InvokeAsync("_SubscribeComponentPartial")

	@await Component.InvokeAsync("_WriterListComponentPartial")

	@await Component.InvokeAsync("_DowloadAppComponentPartial")
	
	@await Component.InvokeAsync("_FooterComponentPartial")
	
	@await Component.InvokeAsync("_FooterBottomComponentPartial")
	
	@await Component.InvokeAsync("_ScriptComponentPartial")

</body>

</html>
