@model List<ApiBooks.WebUI.Dto.CategoryDto.ResultCategoryDto>
@{
    Layout = "~/Areas/Admin/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Kategoriler</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Kategori Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Kategori ile ilgili işlemleri aşağıdaki panelden yapabilirsiniz.
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">Kategori Adı</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                             
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>@item.CategoryName</td>
                                        <td><a href="#" class="btn btn-success">Güncelle</a></td>
                                    </tr>
                                    <tr>
                                        
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <a href="#" class="btn btn-primary">Yeni Kategori Ekle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
